<!DOCTYPE html>
<html>
    <head>
        <title>Create Goal</title>
        <meta name='viewport' content='initial-scale=1.0'>
        <link href='../static/css/bootstrap.css' rel="stylesheet" media='screen'>

        <link href='../static/css/bootstrap.css' rel="stylesheet" media='screen'>
        <link href='../static/css/datepicker.css' rel="stylesheet" media='screen'>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src='./../assets/js/html5shiv.js'></script>
        <script src='../../assets/js/respond.min.js'></script>
        <![endif]-->
        <script>
            function getId() {
                FB.api('/me', function(response) {
                    document.getElementById("owner_id").value = response.id;
                });
            }
        </script>
    </head>
    <body onload="getId()" >
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId       : '437563489689617',
                    channelURL  : 'http://evening-inlet-5471.herokuapp.com/channel.html',
                    status      : true,
                    xfbml       : true,
                }); 


                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>

        <table class='table table-floating'>
            <tbody>
                <tr height='3em' style='background-color: #eee'>
                    <th colspan=4><h1 >Create Goal</h1></th>
                </tr>
            </tbody>
        </table>

        <form class="form-horizontal" role="form" action="/create" method="GET" >
            <input type="hidden" id="owner_id" name="owner_id" />
            <div class="form-group">
                <label class="col-lg-1 control-label">Goal Name</label>
                <div class="col-lg-5">
                    <input type="text" name="name" class="form-control" placeholder="Put your goal name here" id="GoalName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Details</label>
                <div class="col-lg-5">
                    <textarea name="details" class="form-control" placeholder="Write details about your goal here" rows="3" id="Details"></textarea>
                </div>
            </div>  

            <div class="form-group">
                <label class="col-lg-1 control-label">When</label>

                <div class="input-append date" name="date" id="dp3" data-date="15-09-2013" data-date-format="dd-mm-yyyy">
                    <div class="input-append date col-lg-2" id="dp3" data-date="15-09-2013" data-date-format="dd-mm-yyyy">
                        <input class="span2" size="16" type="text" value="12-02-2012" readonly><i class="icon-calendar"></i>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Visualize</label>
                <div class="col-lg-5">
                    <input type="file" id="ImageFile">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Privacy</label>
                <div class="col-lg-2">
                    <select class="form-control" id="privacy" name="privacy">
                        <option>Me</option>
                        <option>Friends</option>
                        <option>Public</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <table class='table table-floating'>
                    <tbody>
                        <tr height='3em' style='background-color: #eee'>
                            <td>
                                <div class="col-lg-offset-5 col-lg-4">
                                    <a><label class="control-label">Invite Followers</label></a>
                                </div>
                            </td>
                            <td>
                                <div class="col-lg-offset-1 col-lg-4">
                                    <button type="submit" class="btn btn-success" >Create</button>
                                    <button type="cancel" class="btn btn-default" >Cancel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
        <script src='static/js/bootstrap.min.js'></script>
        <script src="../static/js/bootstrap-datepicker.js"></script>
        <script>
            $("#dp3").datepicker();
        </script>
    </body>
</html>
