<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=760px, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<table class="table table-floating">
    <thead>
    <tr style="background-color: #eee">
        <th colspan=4><h1>Dashboard</h1></th>
    </tr>
    </thead>
    <tbody>
    <tr><td><h2>+ create goal</h2></td></tr>
    <tr>
        <th colspan=4>Mine</th>
    </tr>
    %s
    <tr>
        <th colspan=4>Following</th>
    </tr>
    %s
    <tr>
        <th colspan=4>Requests</th>
    </tr>
    %s
</tbody>
</table>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
