<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Off Canvas Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<h2 class="panel-heading text-center">Main</h2>


<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Goals</th>
            <th>Time to Completion</th>
            <th>Who?</th>
            <th></th>
        </tr>
        </thead>
        <!--  -->
        <tbody>
        <tr>
            <td>Eat Chocolate</td>
            <td class="text-success">6 months</td>
            <td></td>
            <td>
                <a class="btn btn-lg btn-success" href="#">Done!</a>
                <a class="btn btn-lg btn-danger" href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>002</td>
            <td class="text-warning">2 days!</td>
            <td>
                <a class="btn btn-lg btn-success" href="#">Done!</a>
                <a class="btn btn-lg btn-danger" href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>003</td>
            <td class="text-danger">1 day!</td>
            <td>
                <a class="btn btn-lg btn-success" href="#">Done!</a>
                <a class="btn btn-lg btn-danger" href="#">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="footer">
        <p>&copy; HackCMU 2013</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
