<!DOCTYPE html>
<html>
<head>
<title>Read a goal</title>
<meta name='viewport' content='width=760px, initial-scale=1.0'>
<link href='../static/css/bootstrap.css' rel="stylesheet" media='screen'>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src='./../assets/js/html5shiv.js'></script>
<script src='../../assets/js/respond.min.js'></script>
<![endif]-->

</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=437563489689617";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<table class='table table-floating'>
		<tbody>
			<tr height='3em' style='background-color: #eee'>
				<td colspan='3'><h1 >Fly to space</h1></td>
			</tr>
			
			<tr>
				<td>&nbsp;&nbsp;</td>
				<td>
					<div class="row">
						<div class="col-md-10">&nbsp;&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-md-4"><img src="../static/space_ship.jpg" width=400 class="img-rounded"></div>
						<div class="col-md-2">
								<div align=center style="height:25px"></div>
					   			<div align=center><img src="../static/gagarin.jpg" width=120 class="img-circle"></div>
								<div align=center style="height:5px"></div>
					    		<div align=center><h2 class="text-danger">Yury Gagarin</h2></div>
								<div align=center style="height:5px"></div>
								<div align=center style="height:20px"><img src="../static/badge1.png" width=30 class="img-circle"><img src="../static/badge3.png" width=30 class="img-circle"><img src="../static/badge4.png" width=30 class="img-circle"><img src="../static/badge5.png" width=30 class="img-circle"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4"><h3 class="text-success">Goal achieved 12 Apr 1965</h3></div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<p><br><strong>Descriprtion:</strong> Make the first man's flight to the space, fly around the Earth and came back alive.</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="fb-comments" data-href="http://evening-inlet-5471.herokuapp.com/read_goal.html" data-width="470"></div>	
				</td>
			</tr>
		</tbody>
</table>
 
<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script src='static/js/bootstrap.min.js'></script>
</body>
</html>
